.title{
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 1rem;
}
.title > p:last-child{
    margin-left: auto;
}
.logo {
    width : 15%;
    height : 10%;
    margin-right: 1rem;
}
.content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.con_iframe{
    flex-direction:row-reverse;
}
.txt_size{
    width: 40%;
}
.menu_but{
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: gray;
    text-align: center;
    color: white;
    width: 10rem;
}
.con_child{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}
.con2_img{
    width: 50%;
}
.con3_img{
    float:left;
}
img{
width:100%;
max-width: 100%;
height: auto;
}
.marg{
    margin-bottom: 3rem;
}
.form_box{
    display: flex;
    flex-direction: column;
}
input{
    margin: 0 0 1rem 1rem;
}
.youtube{
    width:40%;
}
.con1_child{
    margin: 0 2rem;
}
.map{
    border:0;
    width: 50%;
}
@media screen and (max-width:599px){
    .con2_img{
       width: 50%;
       height: auto 
    }
    .con_iframe{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .youtube{
        width: 100%;
    }
    .txt_size{
        width: 100%;
    }
    p{
        font-size: x-small;
        margin-bottom: 2rem;
    }
    span{
        font-size: x-small;
    }
    .sp_hide{
        display: none;
    }
    .con_child{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }
    .map{
        width: 100%;
    }
}