.title{
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    margin: 1rem;
}
.title > p:last-child{
    margin-left: auto;
}
.logo {
    width : 15%;
    height : 10%;
    margin-right: 1rem;
}
.content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
.txt_size{
    width: 40%;
}
.menu_but{
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: gray;
    text-align: center;
    color: white;
    width: 7rem;
}
.con_child{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}
.con3_img{
    float:left;
}
img{
width:100%;
max-width: 100%;
height: auto;
}
.marg{
    margin-bottom: 3rem;
}
.form_box{
    display: flex;
    flex-direction: column;
}
input{
    margin: 0 0 1rem 1rem;
}
.youtube{
    width:40%;
    height:auto;
}
@media screen and (max-width:599px){
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .youtube{
        width:100%;
        height:auto;
    }
    .txt_size{
        width: 100%;
    }
    p{
        font-size: x-small;
    }
    span{
        font-size: x-small;
    }
}